extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")

block content
  h2 Countries 
  table
    thead
      th Code  
      th Name 
      th Region 
      th Surface Area 
      th Independence Year 
      th Population 
      th Life Expectancy 
      th GNP 
      th GNPOld 
      th Local Name 
      th Government Form 
      th HeadOfState 
      th Capital 
      th Code2 
    tbody
      each row, i in rows
        tr
          td #{row.Code}
          td #{row.Name}
          td #{row.Region}
          td #{row.SurfaceArea}
          td #{row.IndepYear}
          td #{row.Population}
          td #{row.LifeExpectancy}
          td #{row.GNP}
          td #{row.GNPOld}
          td #{row.LocalName}
          td #{row.GovernmentForm}
          td #{row.HeadOfState}
          td #{row.Capital}
          td #{row.Code2}

